body{
	background-image: url("../images/background/dark.jpg");
}



.jumbotron {
    background-image: url("../images/background/dark.jpg");
}

.jumbotron h1 {
    color: red;
}

.row{
	color:red;
}